__author__ = 'eliagenini'

config = {

    # Providers configuration
    "providers": {
        # Define one of n provider
        "Swisscom": {
            "active": True,
            "url": "https://raw.githubusercontent.com/iptv-ch/iptv-ch.github.io/master/swisscom-full.m3u",

            "filters": {
                "number": {
                    "include": [
                        "403",# RSI La 1 HD
                        "405",# RSI La 2 HD
                        "411",# teleticino HD
                        "385",# Rai 1 HD
                        "387",# Rai 2 HD
                        "389",# Rai 3 HD
                        "390",# Rai 4
                        "391",# Rai 5
                        "376",# Italia 1 HD
                        "377",# Italia 2
                        "380",# Rete 4
                        "372",# Canale 5 HD
                        "379",# La 5
                        "378",# iris
                        "352",# cielo
                        "367",# La7 HD
                        "368",# La7D
                        "355"# DMAX
                    ],
                    "exclude": []
                },
            },
        }
    },

    # Words to exclude from the channel name
    "bad": [
        "Full HD",
        "HD",
        "MEDIASET",
        "[-it-/-fr-]"
    ],

    # Output
    "playlist": {
        "filename": "playlist.m3u"
    },

    # udpxy configuration
    "proxy": {
        "active": True,

        "hostname": "192.168.1.10",
        "port": "6077"
    },

    # WebGrab++ configuration
    "epg": {
        "execute": True,
        "path": "/home/elge/.wg++/run.sh",
        "filename": "config.xml",
        "destination": "guide.xml",
        "days": 3
    },

    # regex configuration (usually no need to edit)
    "regex": {
        "m3u": '(.+?),(.+)\s*(.+)\s*',
        "name": '.*?tvg-name=[\'"](.*?)[\'"]',
        "group": '.*?group-title=[\'"](.*?)[\'"]',
        "logo": '.*?tvg-logo=[\'"](.*?)[\'"]',
        "lang": '.*?tvg-language=[\'"](.*?)[\'"]',
        "country": '.*?tvg-country=[\'"](.*?)[\'"]',
        "id": '.*?tvg-id=[\'"](.*?)[\'"]',
        "number": '.*?tvg-chno=[\'"](.*?)[\'"]'
    },

    # Logging
    "log": {
        'filename': "plexora.log",
        'level': 20,# CRITICAL/FATAL = 50, ERROR = 40, WARN/WARNING = 30, INFO = 20, DEBUG = 10
        'maxBytes': 500*1024,
        'backupCount': 5
    }
}
