__author__ = 'eliagenini'

#  grep site_id siteini.pack/Country/*channels.xml | grep -i "name"

channels = {
    "cielo": {
        "id": "cielo",
        "name": "Cielo",
        "number": 13,
        "logo": "http://www.tv-logo.com/pt-data/uploads/images/logo/cielo.jpg",
        "site": "guidatv.sky.it",
        "site_id": "cielo-hd",
    },
    "canale5": {
        "id": "canale5",
        "name": "Canale 5",
        "number": 9,
        "logo": "http://www.tv-logo.com/pt-data/uploads/images/logo/mediaset_canale5.jpg",
        "site": "mediaset.it",
        "site_id": "C5",
    }
}